.home-container {
    display: flex;
    flex-direction: column;
   
    text-align: center;
  }
  
  .centered-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff; /* Adjust color if needed */
    margin-bottom: 20px;
  }
  