.sidenav-nav .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    text-align: center;
    padding: 12px;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
    margin-left: 1.5rem;
}

.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
    background-color: #fff;
    color: #000;
}

.active {
    background-color: #fff;
}

.active .sidenav-link-icon,
.active .sidenav-link-text {
    color: #000;
}
